
@media (min-width: 577px) and (max-width: 768px) {
    
    .col-1, .col-2, .col-3 {
        width: 50%;
    }
    .col-4 {width: 32%;}
    .col-5, .col-6, .col-8 {width: 100%;}
    
    .mobile-menu {
        display: inline-block;
        cursor: pointer;
    }
    .logo {
        display: inline-block;
    }
    .nav-menu {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    img {
        max-width: 100%;
    }
    .col-3, .col-4, .col-5, .col-6, .col-8{
        width: 100%;
    }
    .heading-before, .heading-after {
        display: none;
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    .logo {
        display: inline-block;
    }
    .nav-menu {
        display: none;
    }

    /* ----Service Section --- */
    .service-content {
        margin-top: 15px;
    }

    /* ---- Instrgram Section --- */
    .image-container {
        width: 100%;
        margin: 5px;
    }
    .instra-footer {
        height: 125px;
        padding-top: 30px;
    }

    /* --- Journal Section---- */
    .content-btn span{
        margin-left: 50%;
    }
    .journal-content {
        margin-top: 15px;
    }
    /*----- My Service Section---- */
    
    .my-s-heading {
        margin-top: 35px;
    }
    .my-service-text {
        padding-left: 10px;
    }
    
    /* -----Contact Section------ */
    .contact-form .contact-h-before{
        left: 13%;
    }
    .contact-form .contact-h-after{
        right: 13%;
    }
    /* ----- Footer Section---- */
    .twiter, .popular-post, .footer-about {
        padding-top: 35px;
    }
    .footer-top h3, .footer-content, .footer-bottom>p {
        padding-left: 10px;
    }

    
}
@media screen and (max-width: 480px) {
    
    .banner-text h1 {
        font-size: 50px;
    }
    .banner-text h2 {
        font-size: 40px;
    }
    .my-service-icon {
        padding-left: 10px;
        font-size: 25px;
    }
    .my-service-text {
        padding-left: 10px;
    }
    .content-btn span{
        margin-left: 33%;
    }

    .contact-left form>label>input {
        width: 75%;
    }
}